COMPOSE_PROJECT_NAME=childdev-dev
CHILDDEV_HOST=childdev.localhost
ASPNETCORE_ENVIRONMENT=Development
MARIADB_ROOT_PASSWORD=changeme-dev
CHILDDEV_DB_PASSWORD=changeme-dev
CHILDDEV_DB_CONNECTION=Server=mariadb;Database=childdev;User=childdev;Password=changeme-dev;
CHILDDEV_JWT_SECRET=replace-with-at-least-32-random-characters-dev
