<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gitea" value="http://localhost:13080/api/packages/jaxtrx/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitea>
      <add key="Username" value="%GITEA_NUGET_USER%" />
      <add key="ClearTextPassword" value="%GITEA_NUGET_TOKEN%" />
    </gitea>
  </packageSourceCredentials>
</configuration>
