<div class="mat-elevation-z2 form-container">
	<p>An easy-to-use, private and secure customizable app to help with
		productivity, efficiency and focus.</p>
	<p>Learn how to set and achieve goals, keep a daily journal/diary
		and a to do list for jotting quick notes about things you need to do.
	</p>
	<p>
		What makes this app different is the privacy and security used is on
		par with bank and government data security standards so <b>we
			can't even read information</b> you put into this app without your
		password, so don't share your password!
	</p>
	<p>Note we don't require an email address so unfortunately if you
		forget your password and the hint doesn't help you remember, we can't
		get your information back.</p>

	<a routerLink="register">Register</a> <a routerLink="signon">Logon</a>

</div>