<!--The content below is only a placeholder and can be replaced.-->

<nav>
<a mat-fab color="primary" routerLink="journal"><mat-icon>library_books</mat-icon></a>&nbsp;
<a mat-fab color="primary" routerLink="goal-list"><mat-icon>outlined_flag</mat-icon></a>&nbsp;
<a mat-fab color="primary" routerLink="todo-list"><mat-icon>assignment</mat-icon></a>&nbsp;
<a mat-fab color="primary" routerLink="settings"><mat-icon>settings</mat-icon></a>&nbsp;
<a mat-fab color="primary" routerLink="about"><mat-icon>help_outline</mat-icon></a>
</nav>
<br/>
<router-outlet></router-outlet>
