<div class="mat-elevation-z2">
	<form [formGroup]="ownerForm" class="form-container">
		Start Date: {{dataItem.enteredDate | date:'shortDate'}}
		<mat-divider></mat-divider>
		<mat-form-field
			hintLabel="SMART: Specific, Measurable, Achievable, Relevant and Time-bound. Visualize what you want, define a purpose, be realistic; almost anything is possible, but you have to take steps towards it.">
		<textarea matInput [formControl]="goalText" #input placeholder="Goal"></textarea>
		</mat-form-field>

		<mat-form-field
			hintLabel="Next steps towards your goal for the next 1 or 2 weeks.  Prioritize on what makes the most gain towards a goal or what you have available - little steps towards a goal can make larger steps easier.">
		<textarea matInput [formControl]="nextSteps" #input
			placeholder="Next Steps"></textarea> </mat-form-field>
	</form>
	<mat-spinner *ngIf="showScanSpinner" [diameter]="20"
		ProgressSpinnerMode='indeterminate'> </mat-spinner>
	
	<mat-toolbar>
	<button mat-fab color="primary" (click)="save()">
		<mat-icon>done</mat-icon>
	</button>
	&nbsp;
	<button mat-fab color="primary" (click)="undo()">
		<mat-icon>undo</mat-icon>
	</button>

	</mat-toolbar>

</div>